[template=preview] {
  .preview {
    background: white;
    //    height: 300px;
    position: relative;
    color: black;
    display: flex;
    flex-direction: row;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .preview-hero {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
      //      float: left;
      cursor: pointer;
      order: 1;
      flex: 1 1 50%;

      @media (max-width: 767px) {
        flex: 1 1 300px;
        border: 5px solid white;
      }

      opacity:0;
      transition: .9s opacity;
      will-change:opacity;

      &.active {
        opacity: 1;
      }
    }

    .preview-content {
      flex: 1 1 50%;
      position: relative;
      background-size: cover;
      background-position: center;
      padding: 60px;
      //      float: left;
      order: 2;

      @media (max-width: 767px) {
        flex: 1 1 auto;
        padding: 30px;
        height: auto;
        text-align: center;
      }

      opacity:0;
      transition: .9s opacity;
      will-change:opacity;

      &.active {
        opacity: 1;
      }
    }

    &.reverse {
      flex-direction: row-reverse;

      @media (max-width: 767px) {
        flex-direction: column;
        background: black;
        color: #ffffff;

        .preview-hero {
          border-color: #000000;
        }

        .butn {
          color: #ffffff;
          border-color: #ffffff;

          &:hover {
            background: transparentize(#ffffff, 0.9);
          }
        }
      }
    }
  }
}