[template=preview] {
  .preview {
    background: white;
//    height: 300px;
    position: relative;

    .preview-hero {
      position: relative;
//      background: #f7f7f7;
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 50%;
      float: left;
    }

    .preview-content {
//      background: white;
      position: relative;
      background-size: cover;
      background-position: center;
      height: 400px;
      padding: 60px;
      width: 50%;
      float: left;
    }

    &.reverse {
      .preview-hero, .preview-content {
        float: right;
      }
    }
  }
}