<script type="text/ng-template" id="about.html">
    <div template="about">
        <div class="about-container">
            <div class="about">
                <div class="about-content">
                    <h2>Who Am I?</h2>

                    <p>I'm Nathan-Jamahiel Nelson, I'm a freelance full-stack designer/developer with a passion for powerful, minimal code and efficient living.</p>
                    <p>I've learnt the importance of simply building, and I believe that full immersion is the best (only) way to learn anything.</p>
                    <p>Intermittent fasting and LCHF are fun topics of mine and am always happy to debate what exactly efficient living means.</p>
                </div>
            </div>
            <div class="about-image" style="background-image: url('/public/img/hero-india.jpg')"></div>
        </div>

    </div>
</script>