[template=about] {
  .about-container {
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .about {
    flex: 1 0 auto;
    background: #000000;

    padding: 60px;

    h2, p {
      color: #ffffff;
    }
  }

  .about-image {
    flex: 1 1 100%;
    position: relative;
    background: #f7f7f7;
    background-size: cover;
    background-position: center;
  }
}