<script type="text/ng-template" id="about.html">
    <div template="about">
        <div class="about">
            <div class="about-content">
                <h2>Who Am I?</h2>

                <p>I'm Nathan-Jamahiel Nelson, I have a passion for efficient code and efficient living. I've learnt the importance of building and openly sharing, and I believe that full immersion is the best way to learn anything.</p>

                <p>I've adopted intermittent fasting and am always happy to debate what exactly is the optimum diet.</p>
            </div>

        </div>
        <div class="about-image" style="background-image: url('/public/img/hero-india.jpg')"></div>
    </div>
</script>