<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header">
            <div class="logo">Jamahiel</div>

            <div class="menu">
                <div class="menu-item"><i class="fa fa-code fw"></i> &nbsp;Code</div>
                <div class="menu-item"><i class="fa fa-briefcase fw"></i> &nbsp;Work</div>
                <div class="menu-item"><i class="fa fa-microphone fw"></i> &nbsp;Talk</div>
                <div class="menu-item"><i class="fa fa-cutlery fw"></i> &nbsp;Diet</div>
            </div>
        </div>


    </div>
</script>