[template=header] {
  .header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
//    background: rgba(255, 255, 255, 0.9);
//    height: 50px;
    z-index: 100;
//    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

    .logo {
      padding: 30px;
      font-weight: 900;
      line-height: 30px;
      color: $body;
      z-index: 1;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 20px;
      position: absolute;
      left: 60px;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
    }

    .menu {
      position: absolute;
      right: 15px;
      padding: 10px;
      line-height: 30px;
      background: rgba(255, 255, 255, 0.95);
      background: transparentize($body, 0.3);
      background: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);

      .menu-item {
        float: left;
        padding: 0 30px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;

      }
    }
  }

  .subheadings {

  }
}