<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header">
            <div class="logo" ui-sref="home">Jamahiel</div>

            <div class="menu" ng-click="toggleMenu()">
                <!--<div class="menu-item"><i class="fa fa-code fw"></i> &nbsp;Code</div>-->
                <!--<div class="menu-item"><i class="fa fa-briefcase fw"></i> &nbsp;Work</div>-->
                <!--<div class="menu-item"><i class="fa fa-microphone fw"></i> &nbsp;Talk</div>-->
                <!--<div class="menu-item"><i class="fa fa-cutlery fw"></i> &nbsp;Diet</div>-->
                <div class="menu-item"><i class="fa fa-th"></i> &nbsp; Menu</div>
            </div>

            <!--<div class="menu-icon">-->
                <!--<i class="fa fa-th-large"></i>-->
            <!--</div>-->
        </div>


    </div>
</script>