body {
  background: #a2ccf3;
  background: white;
  background: black;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.2; }

h1, h2, h3, p {
  margin: 0;
  padding: 0 0 15px;
  line-height: 1.2;
  font-weight: 100; }

h1 {
  font-size: 50px;
  padding-bottom: 20px; }

h1, h2 {
  padding-bottom: 20px; }
  h1 .fa, h2 .fa {
    font-size: 70%;
    opacity: 0.6; }

p {
  font-weight: 200;
  font-size: 17px;
  line-height: 30px; }

.fa {
  line-height: inherit; }

.case {
  margin: auto;
  max-width: 1000px;
  overflow: hidden; }

[screen] {
  min-height: 100vh;
  opacity: 0;
  transform: translateX(-50px);
  transition: .3s;
  display: block;
  will-change: transform, opacity; }
  [screen].active {
    opacity: 1;
    transform: translateX(0); }

.flex-hori {
  display: flex;
  flex-direction: row; }

.butn {
  background-color: transparent;
  padding: 0 30px;
  line-height: 45px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  min-width: 225px;
  text-align: center;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  text-indent: 0px;
  transition: .3s; }
  .butn .fa {
    transition: .3s;
    color: inherit; }
  .butn:hover {
    text-indent: 10px;
    background: rgba(51, 51, 51, 0.1); }
    .butn:hover .fa {
      text-indent: 0;
      transform: translateX(5px); }
  .butn.light {
    color: #ffffff;
    border-color: #ffffff; }
    .butn.light:hover {
      background: rgba(255, 255, 255, 0.1); }

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: #333;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none; }
  .input.block {
    display: block;
    width: 100%; }

.leaderboard {
  padding: 15px; }
  .leaderboard .leaderboard-item {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 60px; }
    .leaderboard .leaderboard-item .image {
      height: 100%;
      width: 60px;
      float: left;
      background-size: cover;
      background-position: center; }
    .leaderboard .leaderboard-item .name {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 10px 15px 0;
      font-weight: bold; }
    .leaderboard .leaderboard-item .summary {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 0px 15px 10px;
      font-weight: bold;
      color: #4380b9;
      text-transform: uppercase; }
    .leaderboard .leaderboard-item .points {
      height: 100%;
      line-height: 43px;
      padding: 5px;
      width: 60px;
      float: right;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      background-color: #f7f7f7; }

[template=about] .about-container {
  height: 800px;
  display: flex;
  flex-direction: column; }

[template=about] .about {
  flex: 1 0 auto;
  background: #000000;
  padding: 60px; }
  [template=about] .about h2, [template=about] .about p {
    color: #ffffff; }
  @media (max-width: 767px) {
    [template=about] .about {
      padding: 30px; } }

[template=about] .about-image {
  flex: 1 1 100%;
  position: relative;
  background: #f7f7f7;
  background-size: cover;
  background-position: center; }

[template=header] .header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100; }
  [template=header] .header .logo {
    padding: 30px;
    font-weight: 900;
    line-height: 30px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    position: absolute;
    left: 60px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    transition: .3s;
    cursor: pointer; }
    [template=header] .header .logo:hover {
      background: rgba(255, 255, 255, 0.95);
      color: #333; }
    @media (max-width: 767px) {
      [template=header] .header .logo {
        line-height: 20px;
        padding: 15px;
        left: 0;
        width: 150px;
        text-align: center; } }
  [template=header] .header .menu-icon {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    position: absolute;
    text-align: center; }
  [template=header] .header .menu {
    position: absolute;
    right: 15px;
    padding: 10px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.95);
    background: rgba(51, 51, 51, 0.7);
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); }
    [template=header] .header .menu .menu-item {
      float: left;
      padding: 0 30px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase; }
    @media (max-width: 767px) {
      [template=header] .header .menu {
        display: none; } }

[template=heading] {
  background: #ffffff;
  padding: 0 30px; }
  [template=heading] .heading {
    max-width: 700px;
    margin: auto;
    margin-top: 30px; }
    [template=heading] .heading h2 {
      font-size: 40px; }

[template=hero] .hero {
  height: 800px;
  position: relative;
  background: black;
  background-size: cover;
  background-position: center;
  max-height: 90vh; }
  [template=hero] .hero .hero-back {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  [template=hero] .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0 30px; }
    @media (max-width: 767px) {
      [template=hero] .hero .hero-text h1 {
        font-size: 40px; }
      [template=hero] .hero .hero-text h2 {
        font-size: 25px; } }
  [template=hero] .hero .hero-content {
    flex: 1; }

[template=image-item] {
  background: #ffffff;
  padding: 0 30px; }
  [template=image-item] .image-item {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px; }
    [template=image-item] .image-item img {
      width: 100%; }
    [template=image-item] .image-item h2 {
      font-size: 40px; }

[template=preview] .preview {
  background: white;
  position: relative;
  color: black;
  display: flex;
  flex-direction: row; }
  @media (max-width: 767px) {
    [template=preview] .preview {
      flex-direction: column; } }
  [template=preview] .preview .preview-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    cursor: pointer;
    order: 1;
    flex: 1 1 50%; }
    @media (max-width: 767px) {
      [template=preview] .preview .preview-hero {
        height: 300px;
        border: 5px solid white; } }
  [template=preview] .preview .preview-content {
    flex: 1 1 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 60px;
    order: 2; }
    @media (max-width: 767px) {
      [template=preview] .preview .preview-content {
        padding: 30px;
        height: auto;
        text-align: center; } }
  [template=preview] .preview.reverse {
    flex-direction: row-reverse; }
    @media (max-width: 767px) {
      [template=preview] .preview.reverse {
        flex-direction: column;
        background: black;
        color: #ffffff; }
        [template=preview] .preview.reverse .preview-hero {
          border-color: #000000; }
        [template=preview] .preview.reverse .butn {
          color: #ffffff;
          border-color: #ffffff; }
          [template=preview] .preview.reverse .butn:hover {
            background: rgba(255, 255, 255, 0.1); } }

[template=paragraph] {
  background: #ffffff;
  padding: 0 30px; }
  [template=paragraph] .paragraph {
    max-width: 700px;
    margin: auto; }
    [template=paragraph] .paragraph p {
      font-size: 20px;
      line-height: 40px; }

[template=vid] {
  background: #ffffff;
  padding: 0 30px; }
  [template=vid] .vid {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px; }
    [template=vid] .vid video {
      width: 100%; }
    [template=vid] .vid h2 {
      font-size: 40px; }
