body {
  background: #a2ccf3;
  background: white;
  background: black;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
  max-width: 100%; }

h1, h2, h3, p {
  margin: 0;
  padding: 0 0 15px;
  line-height: 1.3;
  font-weight: 100; }

strong {
  font-weight: 600; }

h1 {
  font-size: 50px;
  padding-bottom: 20px; }

h1, h2 {
  padding-bottom: 20px; }
  h1 .fa, h2 .fa {
    font-size: 70%;
    opacity: 0.6; }

@media (max-width: 767px) {
  h1 {
    font-size: 36px; }
  h2 {
    font-size: 22px; } }

p {
  font-weight: 200;
  font-size: 17px;
  line-height: 30px; }
  @media (max-width: 767px) {
    p {
      font-size: 15px; } }

.fa {
  line-height: inherit; }

.case {
  margin: auto;
  max-width: 1000px;
  overflow: hidden; }

[screen] {
  min-height: 100vh;
  opacity: 0;
  transition: .3s;
  display: block;
  will-change: opacity;
  overflow-x: hidden;
  max-width: 100%; }
  [screen].active {
    opacity: 1; }

.flex-hori {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.butn {
  background-color: transparent;
  padding: 0 30px;
  line-height: 45px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  min-width: 225px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  text-indent: 0px;
  transition: .3s; }
  .butn .fa {
    transition: .3s;
    color: inherit; }
  .butn:hover {
    text-indent: 10px;
    background: rgba(0, 0, 0, 0.1); }
    .butn:hover .fa {
      text-indent: 0;
      -webkit-transform: translateX(5px);
              transform: translateX(5px); }
  .butn.block {
    min-width: auto;
    min-width: initial;
    display: block;
    padding: 0; }
  .butn.light {
    color: #ffffff;
    border-color: #ffffff; }
    .butn.light:hover {
      background: rgba(255, 255, 255, 0.1); }
  .butn.a:hover {
    text-decoration: none;
    color: inherit; }

.input {
  background: none;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0px;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  color: #000;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  outline: none; }
  .input.block {
    display: block;
    width: 100%; }

.leaderboard {
  padding: 15px; }
  .leaderboard .leaderboard-item {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 60px; }
    .leaderboard .leaderboard-item .image {
      height: 100%;
      width: 60px;
      float: left;
      background-size: cover;
      background-position: center; }
    .leaderboard .leaderboard-item .name {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 10px 15px 0;
      font-weight: bold; }
    .leaderboard .leaderboard-item .summary {
      margin-left: 60px;
      margin-right: 60px;
      line-height: 20px;
      padding: 0px 15px 10px;
      font-weight: bold;
      color: #4380b9;
      text-transform: uppercase; }
    .leaderboard .leaderboard-item .points {
      height: 100%;
      line-height: 43px;
      padding: 5px;
      width: 60px;
      float: right;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      background-color: #f7f7f7; }

[template=about] .about-container {
  height: 800px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 767px) {
    [template=about] .about-container {
      height: 600px; } }

[template=about] .about {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #000000;
  padding: 60px;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  opacity: 0;
  transition: .9s opacity;
  will-change: opacity; }
  [template=about] .about h2, [template=about] .about p {
    color: #ffffff; }
  @media (max-width: 767px) {
    [template=about] .about {
      padding: 30px; } }
  [template=about] .about.active {
    opacity: 1; }

[template=about] .about-image {
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  background: #f7f7f7;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: .9s opacity;
  will-change: opacity; }
  @media (max-width: 767px) {
    [template=about] .about-image {
      border: 5px solid black; } }
  [template=about] .about-image.active {
    opacity: 1; }

[template=comments] .comments {
  background: #ffffff;
  padding: 60px 30px; }

[template=comments] .comments-container {
  max-width: 800px;
  margin: auto;
  text-align: center; }
  @media (max-width: 767px) {
    [template=comments] .comments-container {
      height: 600px; } }

[template=follow] .follow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 60px;
  background: rgba(255, 255, 255, 0.98);
  z-index: 5000;
  color: #000;
  transition: .3s;
  opacity: 0;
  visibility: hidden; }
  [template=follow] .follow .follow-x {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #999;
    cursor: pointer; }
  [template=follow] .follow .follow-title {
    font-size: 40px;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 30px; }
  [template=follow] .follow.active {
    opacity: 1;
    visibility: visible; }

[template=header] .header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100; }
  [template=header] .header .logo {
    padding: 30px;
    font-weight: 900;
    line-height: 30px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    position: absolute;
    left: 60px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    transition: .3s;
    cursor: pointer; }
    @media (max-width: 767px) {
      [template=header] .header .logo {
        font-size: 15px;
        line-height: 20px;
        padding: 15px 20px;
        left: 0;
        text-align: center; } }
  [template=header] .header .menu-icon {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    display: none; }
    @media (max-width: 767px) {
      [template=header] .header .menu-icon {
        display: block; } }
  [template=header] .header .menu {
    position: absolute;
    right: 60px;
    padding: 10px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    transition: .3s;
    cursor: pointer; }
    [template=header] .header .menu .menu-item {
      float: left;
      padding: 0 15px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase; }
    @media (max-width: 767px) {
      [template=header] .header .menu {
        right: 0; } }

[template=heading] {
  background: #ffffff;
  padding: 0 30px; }
  [template=heading] .heading {
    max-width: 700px;
    margin: auto;
    margin-top: 30px; }
    [template=heading] .heading h2 {
      font-size: 45px; }

[template=hero] .hero {
  height: 800px;
  position: relative;
  background: black;
  opacity: 0;
  transition: .9s opacity;
  will-change: opacity; }
  [template=hero] .hero.active {
    opacity: 1; }
  @media (max-width: 767px) {
    [template=hero] .hero {
      height: 400px; } }
  [template=hero] .hero .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: black;
    background-size: cover;
    background-position: center; }
  [template=hero] .hero .hero-back {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  [template=hero] .hero .hero-text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    color: #ffffff;
    position: absolute;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding: 0 30px;
    -webkit-transform: translateY(-50px) scale(1.4);
            transform: translateY(-50px) scale(1.4);
    opacity: 0;
    transition: 3s;
    will-change: opacity, transform; }
    [template=hero] .hero .hero-text.active {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1; }
    [template=hero] .hero .hero-text.post {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1;
      transition: 0s; }
  [template=hero] .hero .hero-profile {
    bottom: 125px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 4; }
    @media (max-width: 767px) {
      [template=hero] .hero .hero-profile {
        bottom: 55px; } }
    [template=hero] .hero .hero-profile .profile-container {
      margin: auto;
      max-width: 1060px;
      padding: 0 30px; }
    [template=hero] .hero .hero-profile .profile-image {
      height: 150px;
      width: 150px;
      background-size: cover;
      background-position: center;
      float: left;
      border: 2px solid white;
      border-radius: 10000px;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      -webkit-transform: rotate(300deg) scale(0.5);
              transform: rotate(300deg) scale(0.5);
      transition: 2s;
      will-change: transform; }
      [template=hero] .hero .hero-profile .profile-image.active {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1); }
      @media (max-width: 767px) {
        [template=hero] .hero .hero-profile .profile-image {
          height: 80px;
          width: 80px;
          margin-left: -40px; } }
    [template=hero] .hero .hero-profile .profile-name {
      width: 320px;
      position: absolute;
      left: 50%;
      margin-left: -160px;
      margin-top: -45px;
      text-align: center;
      line-height: 45px;
      color: white;
      font-weight: 900;
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      transition: 2s;
      text-transform: uppercase;
      will-change: transform; }
      [template=hero] .hero .hero-profile .profile-name.active {
        -webkit-transform: translateY(0);
                transform: translateY(0); }
      [template=hero] .hero .hero-profile .profile-name .fa-twitter {
        color: #55acee;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        transition: .3s; }
        [template=hero] .hero .hero-profile .profile-name .fa-twitter:hover {
          -webkit-transform: scale(1.6);
                  transform: scale(1.6); }
  [template=hero] .hero .hero-content {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

[template=menu] .menu {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.95);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(-50px) scale(1.2);
          transform: translateY(-50px) scale(1.2);
  transition: .3s;
  will-change: transform, opacity;
  visibility: hidden; }
  [template=menu] .menu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1); }
  [template=menu] .menu .menu-background {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0; }
  [template=menu] .menu .menu-boxes {
    -webkit-flex: 1 1 650px;
        -ms-flex: 1 1 650px;
            flex: 1 1 650px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 650px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: auto;
    overflow-y: auto;
    max-height: 100%;
    padding: 0 45px; }
    [template=menu] .menu .menu-boxes .menu-box {
      -webkit-flex: 1 1 33.3333333%;
          -ms-flex: 1 1 33.3333333%;
              flex: 1 1 33.3333333%;
      position: relative;
      padding: 15px;
      max-width: 33.3333333%;
      padding-top: 33.3333333%; }
      @media (max-width: 767px) {
        [template=menu] .menu .menu-boxes .menu-box {
          -webkit-flex: 1 1 50%;
              -ms-flex: 1 1 50%;
                  flex: 1 1 50%;
          position: relative;
          padding: 15px;
          max-width: 50%;
          padding-top: 50%; } }
      [template=menu] .menu .menu-boxes .menu-box .menu-item {
        background: #ffffff;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-bottom: 3px solid #666;
        cursor: pointer;
        -webkit-transform: scale(1);
                transform: scale(1);
        transition: .3s;
        color: #666; }
        [template=menu] .menu .menu-boxes .menu-box .menu-item:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          color: black;
          border-bottom: 3px solid #000; }
        [template=menu] .menu .menu-boxes .menu-box .menu-item .menu-icon {
          font-size: 40px;
          line-height: 50px; }
        [template=menu] .menu .menu-boxes .menu-box .menu-item .menu-text {
          font-weight: 700;
          line-height: 40px;
          letter-spacing: 0.5px;
          font-size: 16px; }

[template=image-item] {
  background: #ffffff; }
  @media (max-width: 767px) {
    [template=image-item] {
      padding: 0; } }
  [template=image-item] .image-item {
    max-width: 1200px;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    color: #999;
    text-transform: uppercase; }
    [template=image-item] .image-item img {
      width: 100%; }
    [template=image-item] .image-item h2 {
      font-size: 40px; }

[template=paragraph] {
  background: #ffffff;
  padding: 0 30px; }
  [template=paragraph] .paragraph {
    max-width: 700px;
    margin: auto; }
    [template=paragraph] .paragraph p {
      font-size: 20px;
      line-height: 40px; }
      @media (max-width: 767px) {
        [template=paragraph] .paragraph p {
          font-size: 17px;
          line-height: 35px; } }

[template=preview] .preview {
  background: white;
  position: relative;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 767px) {
    [template=preview] .preview {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  [template=preview] .preview .preview-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    cursor: pointer;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    opacity: 0;
    transition: .9s opacity;
    will-change: opacity; }
    @media (max-width: 767px) {
      [template=preview] .preview .preview-hero {
        -webkit-flex: 1 1 300px;
            -ms-flex: 1 1 300px;
                flex: 1 1 300px;
        border: 5px solid white; } }
    [template=preview] .preview .preview-hero.active {
      opacity: 1; }
  [template=preview] .preview .preview-content {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 60px;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    opacity: 0;
    transition: .9s opacity;
    will-change: opacity; }
    @media (max-width: 767px) {
      [template=preview] .preview .preview-content {
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        padding: 30px;
        height: auto;
        text-align: center; } }
    [template=preview] .preview .preview-content.active {
      opacity: 1; }
  [template=preview] .preview.reverse {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 767px) {
      [template=preview] .preview.reverse {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        background: black;
        color: #ffffff; }
        [template=preview] .preview.reverse .preview-hero {
          border-color: #000000; }
        [template=preview] .preview.reverse .butn {
          color: #ffffff;
          border-color: #ffffff; }
          [template=preview] .preview.reverse .butn:hover {
            background: rgba(255, 255, 255, 0.1); } }

[template=quote-item] {
  background: #ffffff;
  padding: 0 30px; }
  @media (max-width: 767px) {
    [template=quote-item] {
      padding: 0 30px; } }
  [template=quote-item] .quote-item {
    max-width: 600px;
    margin: auto;
    margin: 30px auto 60px;
    text-align: center;
    line-height: 1.3; }
    [template=quote-item] .quote-item .quote-text {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 15px; }
      [template=quote-item] .quote-item .quote-text .fa {
        color: #ddd;
        margin: 0 5px;
        line-height: inherit; }
      [template=quote-item] .quote-item .quote-text .fa-quote-right {
        position: relative;
        top: 7px; }
    [template=quote-item] .quote-item .quote-by {
      color: #999;
      text-transform: uppercase; }

[template=share] .share-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 30px 0; }
  @media (max-width: 767px) {
    [template=share] .share-container {
      height: 600px; } }

[template=share] .share-float {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 50px;
  z-index: 10; }
  [template=share] .share-float .butn {
    border: none;
    transition: .3s;
    opacity: 0.8; }
    [template=share] .share-float .butn:hover {
      opacity: 1; }

[template=share] .share {
  background: #000000;
  padding: 30px;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  opacity: 0;
  transition: .9s opacity;
  will-change: opacity; }
  [template=share] .share h2, [template=share] .share p {
    color: #ffffff; }
  [template=share] .share h2 .fa {
    opacity: 1.1;
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite; }
  [template=share] .share p {
    font-size: 20px; }
  [template=share] .share.active {
    opacity: 1; }
  [template=share] .share .share-content {
    margin-bottom: 30px; }
  [template=share] .share .share-buttons {
    font-size: 20px; }
    [template=share] .share .share-buttons .butn {
      font-size: 25px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

[template=vid] {
  background: #ffffff;
  padding: 0 30px; }
  [template=vid] .vid {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px; }
    [template=vid] .vid video {
      width: 100%; }
    [template=vid] .vid h2 {
      font-size: 40px; }
