<script type="text/ng-template" id="menu.html">
    <div template="menu">
        <div class="menu" ng-class="{active:isMenuVisible()}">
            <div class="menu-background" ng-click="toggleMenu()"></div>
            <div style="height: 50px;"></div>
            <div class="menu-boxes" ng-click="toggleMenu()">
                <div class="menu-box">
                    <div class="menu-item" ui-sref="home">
                        <div class="menu-icon"><i class="fa fa-home fw"></i></div>
                        <div class="menu-text">Home</div>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="menu-item">
                        <div class="menu-icon"><i class="fa fa-code fw"></i></div>
                        <!--<div class="menu-text">Code</div>-->
                        <div class="menu-text">Coming Soon</div>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="menu-item">
                        <div class="menu-icon"><i class="fa fa-briefcase fw"></i></div>
                        <!--<div class="menu-text">Work</div>-->
                        <div class="menu-text">Coming Soon</div>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="menu-item">
                        <div class="menu-icon"><i class="fa fa-microphone fw"></i></div>
                        <!--<div class="menu-text">Talk</div>-->
                        <div class="menu-text">Coming Soon</div>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="menu-item">
                        <div class="menu-icon"><i class="fa fa-cutlery fw"></i></div>
                        <!--<div class="menu-text">Diet</div>-->
                        <div class="menu-text">Coming Soon</div>
                    </div>
                </div>
                <div class="menu-box">
                    <div class="menu-item">
                        <div class="menu-icon"><i class="fa fa-comments-o fw"></i></div>
                        <!--<div class="menu-text">Contact</div>-->
                        <div class="menu-text">Coming Soon</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>