<script type="text/ng-template" id="follow.html">
    <div template="follow">
        <div class="follow-container">
            <div class="follow" ng-class="{active:ready}">
                <div class="follow-content">
                    <h2>follow the &nbsp;<i class="fa fa-heart" style="font-size: inherit;opacity: inherit"></i></h2>
                    <p>If you enjoyed this post, I’d be very grateful if you’d help it spread by emailing it to a friend, or sharing it on Twitter or Facebook. Thank you!</p>
                </div>
                <div class="follow-buttons">
                    <div class="row">
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="http://www.facebook.com/followr.php?u=http://www.jamahiel.com/post/{{id}}" style="background: #3b5998;"><i class="fa fa-fw fa-facebook"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="http://twitter.com/follow?url=http://www.jamahiel.com/post/{{id}}&text={{title}}" style="background: #55acee;"><i class="fa fa-fw fa-twitter"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://www.jamahiel.com/post/{{id}}" style="background: #dc4e41;"><i class="fa fa-fw fa-google-plus"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="mailto:?subject={{title}}&body=http://www.jamahiel.com/post/{{id}}" style="background: #333;"><i class="fa fa-fw fa-envelope"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</script>