<script type="text/ng-template" id="follow.html">
    <div template="follow">
        <div class="follow" ng-class="{active:ready}" ng-click="ready = false">
            <div class="follow-x" ng-click="ready = false"><i class="fa fa-times"></i></div>
            <div class="follow-content">
                <div class="follow-title">I like you, let's stay in touch.</div>
                <p></p>
                <p ng-click="ready = false">
                    <a class="twitter-follow-button butn"
                       href="https://twitter.com/jamahiel" target="_blank"

                       data-size="large">
                        Follow @Jamahiel</a>
                </p>
            </div>
        </div>

        <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    </div>
</script>