<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <base href="/">

    <title>Jamahiel</title>
    <meta name="description" content="<%= ogDescription %>" />

    <!--<meta property="og:title" content="<%= ogTitle %>" />-->
    <!--<meta property="og:site_name" content="<%= ogSiteName %>"/>-->
    <!--<meta property="og:url" content="<%= ogUrl %>" />-->
    <!--<meta property="og:description" content="<%= ogDescription %>" />-->
    <!--<meta property="og:image" content="<%= ogImage %>" />-->
    <!--<meta property="og:type" content="<%= ogType %>"/>-->

    <!--<meta name="twitter:card" content="summary_large_image">-->
    <!--<meta name="twitter:site" content="@StoryNatives">-->
    <!--<meta name="twitter:title" content="<%= ogTitle %>">-->
    <!--<meta name="twitter:description" content="<%= ogDescription %>">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,900italic,900,800italic,800,700,500italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body data-ng-app="app">

<header></header>

<div ui-view></div>

<!--<alert></alert>-->

<script type="text/ng-template" id="about.html">
    <div template="about">
        <div class="about-container">
            <div class="about" ng-class="{active:ready}">
                <div class="about-content">
                    <!--<h2>Hello</h2>-->

                    <p>I'm Nathan-Jamahiel Nelson, a full-stack designer/developer with a passion for powerful, minimal code and efficient living.</p>
                    <p>I've learnt the importance of simply building, and I believe that full immersion is the best (only) way to learn anything.</p>
                    <p>Intermittent fasting and LCHF are fun topics of mine and am always happy to debate what exactly efficient living means.</p>
                </div>
            </div>
            <div class="about-image" ng-class="{active:ready2}" style="background-image: url('/public/img/hero-india.jpg')"></div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header">
            <div class="logo" ui-sref="home">Jamahiel</div>

            <div class="menu">
                <div class="menu-item"><i class="fa fa-code fw"></i> &nbsp;Code</div>
                <div class="menu-item"><i class="fa fa-briefcase fw"></i> &nbsp;Work</div>
                <div class="menu-item"><i class="fa fa-microphone fw"></i> &nbsp;Talk</div>
                <div class="menu-item"><i class="fa fa-cutlery fw"></i> &nbsp;Diet</div>
            </div>

            <div class="menu-icon">
                <i class="fa fa-bars"></i>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="heading.html">
    <div template="heading">
        <div class="heading">
            <h2>{{text}}</h2>
        </div>

    </div>
</script>
<script type="text/ng-template" id="image-item.html">
    <div template="image-item">
        <div class="image-item">
            <p>
                <img src="{{content.src}}"/>
            </p>
            <p ng-if="content.caption" ng-bind="content.caption">

            </p>

        </div>

    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero" ng-class="{active:ready}" style="background-image: url('{{getPost().getImage()}}')">
            <div class="hero-back"></div>
            <div class="hero-text">
                <h1>
                    <i class="fa fa-{{getPost().getIcon()}}"></i>&nbsp;
                    {{getPost().getTitle()}}
                </h1>

                <p ng-if="!post">{{getPost().getSummary()}}</p>
                <h2 ng-if="post">{{getPost().getSummary()}}</h2>

                <br/>

                <div class="butn light" ng-if="!post" ui-sref="post({ id: postId })">Get Reading &nbsp; <i class="fa fa-angle-right"></i></div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="preview.html">
    <div template="preview">
        <div class="preview clearfix {{getReverseClass()}}">
            <div class="preview-hero" ng-class="{active:ready}" ui-sref="post({ id: postId })" style="background-image: url('{{getPost().getImage()}}')"></div>
            <div class="preview-content" ng-class="{active:ready2}">
                <h2 ui-sref="post({ id: postId })"><i class="fa fa-{{getPost().getIcon()}}"></i> {{getPost().getTitle()}}</h2>

                <p>{{getPost().getSummary()}}</p>
                <br/>
                <div class="butn" ng-if="!post" ui-sref="post({ id: postId })">Get Reading &nbsp; <i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="paragraph.html">
    <div template="paragraph">
        <div class="paragraph">
            <p ng-bind-html="getText()"></p>
        </div>

    </div>
</script>
<script type="text/ng-template" id="quote-item.html">
    <div template="quote-item">
        <div class="quote-item">
            <div class="quote-text">
                <i class="fa fa-quote-left"></i>
                {{content.text}}
                <!--<i class="fa fa-quote-right"></i>-->
            </div>
            <div class="quote-by" ng-bind="content.by"></div>

        </div>

    </div>
</script>
<script type="text/ng-template" id="vid.html">
    <div template="vid">
        <div class="vid" ng-mouseover="play($event)" ng-mouseleave="pause($event)">
            <p>
                <video src="{{src}}" loop="loop"  muted="muted" ng-attr-autoplay="{{play}}"></video>
            </p>

        </div>

    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen>
        <div class="clearfix">
            <div class="col-sm-7">
                <div class="row">
                    <hero ng-if="getPosts()[0]" post-id="getPosts()[0]"></hero>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <about></about>
                </div>
            </div>
        </div>


        <preview ng-if="$index != 0" ng-repeat="post in getPosts() track by $index" post-id="post" reverse="($index + 1) % 2"></preview>

    </div>
</script>
<script type="text/ng-template" id="post-screen.html">
    <div screen>
        <hero post-id="getId()" post="true"></hero>

        <div style="background: #ffffff;padding: 30px 0">
            <div ng-repeat="content in getPost().getContent() track by $index">
                <heading ng-if="content.type == 'heading'" text="content.text"></heading>
                <paragraph ng-if="content.type == 'paragraph'" text="content.text"></paragraph>
                <vid ng-if="content.type == 'vid'" src="content.src"></vid>
                <image-item ng-if="content.type == 'image'" content="content"></image-item>
                <quote-item ng-if="content.type == 'quote'" content="content"></quote-item>
            </div>


        </div>

    </div>
</script>
<div data-template="footer">
    <div class="footer">
    </div>
</div>

<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>
<!--<script src="https://raw.githubusercontent.com/lazd/iNoBounce/master/inobounce.js"></script>-->
</body>
</html>