<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero" style="background-image: url('{{getPost().getImage()}}')">
            <div class="hero-back"></div>
            <div class="hero-title">
                <small>
                    <i class="fa fa-{{getPost().getIcon()}}"></i>
                </small>
                {{getPost().getTitle()}}
            </div>
            <div class="hero-summary">
                <p>{{getPost().getSummary()}}</p>

                <div class="butn light">Get Reading &nbsp; <i class="fa fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</script>