[template=hero] {
  .hero {
    height: 800px;
    position: relative;
    background: #f7f7f7;
    background-size: cover;
    background-position: center;

    .hero-back {
      background: rgba(0,0,0,0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .hero-title {
      padding: 10px;
      font-weight: 100;
      line-height: 50px;
      color: white;
      z-index: 1;
//      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 50px;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      margin-top: -55px;
    }

    .hero-summary {
      @extend .hero-title;
      margin-top: 25px;

      line-height: inherit;
      padding: 0 60px;

      p {
//        text-align: left;
        margin: auto;
//        width: 200px;
//        width: 400px;
        color: #ffffff;
      }
    }
  }
}